.article {
    margin-bottom: rem-calc(60);
    overflow-x: hidden;

    @include breakpoint(medium) {
        margin-bottom: rem-calc(85);
    }

    @include breakpoint(large) {
        margin-bottom: rem-calc(110);
    }

    .texts {
        display: flex;
        flex-direction: column;

        > * {
            box-sizing: border-box;
        }

        > h1 {
            order: 0;
        }

        > .original {
            font-family: $header-font-family;
            font-size: $paragraph-font-size*1.1;
            line-height: $paragraph-lineheight;
            margin-bottom: 0;
            order: 3;

            &.greek {
                font-family: 'GFS Neohellenic';
                font-size: $paragraph-font-size*1.2;
            }
        }

        > .original-source {
            font-family: $body-font-family;
            font-size: $cite-font-size;
            text-align: right;
            margin-bottom: $paragraph-margin-bottom * 2;
            padding-left: 25%;
            order: 4;

            &::before {
                content: '\2014';
                padding-right: 0.3rem;
            }
        }

        > .translation {
            font-size: $paragraph-font-size;
            line-height: $paragraph-lineheight;
            order: 1;
        }

        > .translation-source {
            font-family: $body-font-family;
            font-size: $cite-font-size;
            text-align: right;
            margin-bottom: $paragraph-margin-bottom * 2;
            padding-left: 25%;
            order: 2;

            &::before {
                content: '\2014';
                padding-right: 0.3rem;
            }
        }

        @include breakpoint(large) {
            padding-right: $global-padding * 2;
        }
    }

    .metadata {
        border-top: 1px solid $light-gray;

        ul {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include breakpoint(large) {
            border-top: 0;

            ul {
                flex-direction: column;

                li:first-child {
                    margin-bottom: $global-margin;
                }
            }
        }
    }
}
