.tags, .categories {
    .figure-list {
        margin: 0;

        li {
            list-style-type: none;

            figure {
                position: relative;
                display: block;
                width: rem-calc(220);
                height: rem-calc(124);
                box-sizing: border-box;
                margin: $global-margin/2;
                background: $light-gray;
                box-shadow: 0 0 10px $white;
                transition: 0.3s box-shadow;

                &.highlight-blue {
                    box-shadow: 0 0 10px $blue;
                }

                &.highlight-red {
                    box-shadow: 0 0 10px $red;
                }

                picture {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;

                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                figcaption {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    box-sizing: border-box;
                    padding: $global-padding/2;
                    background: rgba($black, 0.6);
                    color: $white;
                    font-size: rem-calc(12);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            &:nth-child(2n+1) {
                figure {
                    &:hover {
                        box-shadow: 0 0 10px $blue;
                    }
                }
            }

            &:nth-child(2n) {
                figure {
                    &:hover {
                        box-shadow: 0 0 10px $red;
                    }
                }
            }
        }
    }

    .label-list {
        li {
            a {
                &.highlight-blue {
                    color: $blue;
                }

                &.highlight-red {
                    color: $red;
                }
            }

            &:nth-child(2n+1) {
                a {
                    &:hover {
                        color: $blue;
                    }
                }
            }

            &:nth-child(2n) {
                a {
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }

    @include breakpoint(small only) {
        .figure-list {
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow: hidden;

            li {
                width: 100%;
                flex: 0 0 auto;

                a {
                    figure {
                        width: 100%;
                        height: 190px;
                        margin: 0;
                        box-shadow: none;
                    }
                }
            }
        }

        .label-list {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    @include breakpoint(medium only) {
        .figure-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        }

        .label-list {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    @include breakpoint(large) {
        .figure-list {
            display: flex;
            margin: 0;
            padding: 0;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .label-list {
            max-height: 90vh;
            overflow-y: auto;
            position: sticky;
            top: rem-calc(50);

            li {
                a {
                    padding-top: rem-calc(5);
                    padding-bottom: rem-calc(5);
                }
            }
        }
    }

    .grid-container {
        @include breakpoint(large) {
            max-width: 93rem;
        }
    }
}
