footer.main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $white;
    box-shadow: 0 0 5px $medium-gray;
    transition: 0.5s box-shadow;

    a {
        display: inline-block;
        padding: $global-padding/3 $global-padding/2;
        font-size: rem-calc(14);
        transition: 0.5s font-size;
    }
}

.scrolling {
    footer.main {
        box-shadow: 0 0 5px $dark-gray;

        a {
            font-size: rem-calc(10);
        }
    }
}
