a {
    transition: color 0.3s;
}

.greek {
    font-family: 'GFS Neohellenic', serif;
}

.fg-red {
    color: $red;
}

.bg-red {
    background: $red;
}

.fg-blue {
    color: $blue;
}

.bg-blue {
    color: $blue;
}

.font-bold {
    font-weight: bold;
}

dd {
    margin-bottom: $global-margin;
}

.width-auto {
    width: auto;
}

.hidden {
    display: none;
}

.large {
    font-size: 120%;
}

.indent-left {
    margin-left: 1rem;
}
