.fg-red {
    color: $red;
}

.bg-red {
    background: $red;
}

.fg-blue {
    color: $blue;
}

.bg-blue {
    color: $blue;
}

.font-bold {
    font-weight: bold;
}

dd {
    margin-bottom: $global-margin;
}
