.snippet {
    .orbit-figure {
        a {
            &:hover {
                figcaption {
                    span {
                        color: $light-gray;
                    }
                }
            }

            .orbit-caption {
                font-family: $header-font-family;

                span {
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:nth-child(1) {
                        font-size: 120%;

                        &.greek {
                            font-family: 'GFS Neohellenic';
                        }
                    }

                    &:nth-child(2) {
                    }

                    &:nth-child(3) {
                        font-size: 80%;
                        text-align: right;
                    }
                }
            }
        }
    }
}
