@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Merriweather-Light.woff2");
}
@font-face {
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Cinzel-Regular.woff2");
}
@font-face {
    font-family: "GFS Neohellenic";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GFSNeohellenic-Regular.woff2");
}
