<script>
const labelList = document.querySelector('.label-list');
const figureList = document.querySelector('.figure-list');

if (Foundation.MediaQuery.current === 'small') {
    let startX = null;
    let startY = null;
    let offsetX = null;
    let offsetY = null;
    let lastIdx = null;

    function showCategories() {
        if (lastIdx !== null) {
            const figure = figureList.querySelector('li:nth-child(' + (lastIdx + 1) + ') figure');
            const selector = [];
            for (let idx = 0; idx < figure.classList.length; idx++) {
                selector.push('a.' + figure.classList[idx]);
            }
            const highlightClass = figure.getAttribute('data-highlight-class');
            const highlightElements = labelList.querySelectorAll(selector.join(','));
            for (let idx = 0; idx < highlightElements.length; idx++) {
                highlightElements[idx].classList.remove(highlightClass);
                highlightElements[idx].parentElement.classList.remove('highlight');
            }
        }
        const imgIdx = Math.floor(figureList.scrollLeft / figureList.clientWidth);
        const figure = figureList.querySelector('li:nth-child(' + (imgIdx + 1) + ') figure');
        const selector = [];
        for (let idx = 0; idx < figure.classList.length; idx++) {
            selector.push('a.' + figure.classList[idx]);
        }
        const highlightClass = figure.getAttribute('data-highlight-class');
        const highlightElements = labelList.querySelectorAll(selector.join(','));
        for (let idx = 0; idx < highlightElements.length; idx++) {
            highlightElements[idx].classList.add(highlightClass);
            highlightElements[idx].parentElement.classList.add('highlight');
        }
        lastIdx = imgIdx;
    }
    figureList.addEventListener('touchstart', function(ev) {
        if (ev.touches && ev.touches[0]) {
            startX = ev.touches[0].clientX;
            startY = ev.touches[0].clientY;
        }
    });
    figureList.addEventListener('touchmove', function(ev) {
        if (ev.touches && ev.touches[0]) {
            offsetX = startX - ev.touches[0].clientX;
            offsetY = startY - ev.touches[0].clientY;
        }
    });
    figureList.addEventListener('touchend', function(ev) {
        if (Math.abs(offsetY) < 100) {
            if (offsetX <= -100) {
                femtoTween.tween(figureList.scrollLeft, figureList.scrollLeft - figureList.clientWidth, (value) => { figureList.scrollLeft = value; }, {done: showCategories});
            } else if (offsetX >= 100) {
                femtoTween.tween(figureList.scrollLeft, figureList.scrollLeft + figureList.clientWidth, (value) => { figureList.scrollLeft = value; }, {done: showCategories});
            }
        }
    });
    showCategories();
} else if (Foundation.MediaQuery.atLeast('large')) {
    function mouseOverLabel(ev) {
        const labelId = ev.target.getAttribute('class');
        const highlightClass = ev.target.getAttribute('data-highlight-class');
        const highlightElements = figureList.querySelectorAll('figure.' + labelId);
        for (let idx = 0; idx < highlightElements.length; idx++) {
            highlightElements[idx].classList.add(highlightClass);
        }
    }
    function mouseOutLabel(ev) {
        const labelId = ev.target.getAttribute('class');
        const highlightElements = figureList.querySelectorAll('figure.' + labelId);
        for (let idx = 0; idx < highlightElements.length; idx++) {
            highlightElements[idx].classList.remove('highlight-red');
            highlightElements[idx].classList.remove('highlight-blue');
        }
    }

    function mouseOverFigure(ev) {
        const figure = ev.target.closest('figure');
        const selector = [];
        for (let idx = 0; idx < figure.classList.length; idx++) {
            selector.push('a.' + figure.classList[idx]);
        }
        const highlightClass = figure.getAttribute('data-highlight-class');
        const highlightElements = labelList.querySelectorAll(selector.join(','));
        for (let idx = 0; idx < highlightElements.length; idx++) {
            highlightElements[idx].classList.add(highlightClass);
        }
    }
    function mouseOutFigure(ev) {
        const figure = ev.target.closest('figure');
        const selector = [];
        for (let idx = 0; idx < figure.classList.length; idx++) {
            selector.push('a.' + figure.classList[idx]);
        }
        const highlightElements = labelList.querySelectorAll(selector.join(','));
        for (let idx = 0; idx < highlightElements.length; idx++) {
            highlightElements[idx].classList.remove('highlight-red');
            highlightElements[idx].classList.remove('highlight-blue');
        }
    }

    const labelElements = labelList.querySelectorAll('a');
    for (let idx = 0; idx < labelElements.length; idx++) {
        labelElements[idx].addEventListener('mouseover', mouseOverLabel);
        labelElements[idx].addEventListener('mouseout', mouseOutLabel);
    }
    const figureElements = figureList.querySelectorAll('figure');
    for (let idx = 0; idx < figureElements.length; idx++) {
        figureElements[idx].addEventListener('mouseover', mouseOverFigure);
        figureElements[idx].addEventListener('mouseout', mouseOutFigure);
    }
}
</script>
