{% extends "base.html" %}

{% block head %}
<title>{{ article.title }}</title>
{% endblock head %}

{% block body %}
<body class="article">
  {% include '_header.html' %}
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12 {% if article.images %}large-5{% else %}large-9{% endif %} grid-y texts">
        <h1>{{ article.title }}</h1>
        {{ article.content }}
      </div>
      <div class="cell small-12 large-3 metadata">
        <ul class="menu vertical">
          <li><a href="{{ article.category.url }}">{{ article.category }}</a></li>
          {% for tag in article.tags %}
            {% if tag.slug != article.category.slug %}
              <li><a href="{{ tag.url }}">{{ tag | escape }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if article.images %}
        <div class="cell small-12 large-4 images">
          <div class="orbit image-detail" role="region" aria-label="Stone Samples" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
            <ul class="orbit-container">
              {% for image in article.images %}
                <li class="orbit-slide is-active">
                  <figure class="orbit-figure">
                    <picture>
                      <source media="(min-width: 1024px)" srcset="{{ SITEURL }}/{{ image.full.url }}" />
                      <source media="(min-width: 640px)" srcset="{{ SITEURL }}/{{ image.medium.url }}" />
                      <img class="orbit-image" src="{{ SITEURL }}/{{ image.small.url }}" alt="Photo of a stone">
                    </picture>
                    <figcaption class="orbit-caption">
                      <span>{{ image[1] }}</span>
                      <span><a href="{{ image[3] }}" target="_blank" rel="noopener">{{ image[2] }}</a></span>
                    </figcaption>
                  </figure>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% include '_footer.html' %}
  {% include '_base_scripts.html' %}
  {% include '_go_to_landing_script.html' %}
  {% include '_scrolling_script.html' %}
</body>
{% endblock body %}
