{% extends "base.html" %}

{% block head %}
<title>Stationen</title>
{% endblock head %}

{% block body %}
<body class="categories">
  {% include '_header.html' %}
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        <h1>Stationen</h1>
        <div class="grid-x">
          <div class="cell small-12 medium-order-2 large-auto large-order-1 figure">
            <div><button aria-label="Vorhergehender Text" class="prev-article">&#9664;&#xFE0E;</button></div>
            <ul class="figure-list">
              {% for article in articles %}
                {% if article.category %}
                  <li>
                    <a href="{{ SITEURL }}/{{ article.url }}">
                      <figure class="{{ article.category.slug }}" data-highlight-class="{% if loop.index is divisibleby(2) %}highlight-red{% else %}highlight-blue{% endif %}">
                        {% if article.images %}
                          <picture>
                            <source media="(max-width: 640px)" srcset="{{ SITEURL }}/{{ article.images[0].small.url }}" />
                            <img src="{{ SITEURL }}/{{ article.images[0].thumbnail.url }}" alt="{{ article.images[0].author }}: {{ article.images[0].title }}" />
                          </picture>
                        {% endif %}
                        <figcaption>{{ article.title }}</figcaption>
                      </figure>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            <div><button aria-label="Nächster Text" class="next-article">&#9654;&#xFE0E;</button></div>
          </div>
          <div class="cell small-12 medium-order-1 large-shrink large-order-2">
            <div class="label-list">
              <div>
                <h2 class="fg-blue">Ägyptisches Museum</h2>
                <ul class="menu vertical margin-bottom">
                  {% for category_name in MUSEUM_EGYPT %}
                    {% for (category, articles) in categories|selectattr('0.slug', 'eq', category_name) %}
                      <li><a href="{{ SITEURL }}/{{ category.url }}" class="{{ category.slug }}" data-highlight-class="{% if loop.index is divisibleby(2) %}highlight-red{% else %}highlight-blue{% endif %}">{{ category }}</a></li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </div>
              <div>
                <h2 class="fg-red">Antikenmuseum</h2>
                <ul class="menu vertical">
                  {% for category_name in MUSEUM_ANTIQUITIES %}
                    {% for (category, articles) in categories|selectattr('0.slug', 'eq', category_name) %}
                      <li><a href="{{ SITEURL }}/{{ category.url }}" class="{{ category.slug }}" data-highlight-class="{% if loop.index is divisibleby(2) %}highlight-red{% else %}highlight-blue{% endif %}">{{ category }}</a></li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include '_footer.html' %}
  {% include '_base_scripts.html' %}
  {% include '_go_to_landing_script.html' %}
  {% include '_scrolling_script.html' %}
  {% include '_explore_script.html' %}
</body>
{% endblock body %}
