{% extends "base.html" %}

{% block head %}
<title>Stein&middot;reich</title>
{% endblock head %}

{% block body %}
<body class="landing">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell small-12 medium-6 grid-y">
        <h1 class="cell greek width-auto"><span class="fg-blue">πέτρα</span>&middot;<span class="fg-red">πλούσιος</span></h1>
        <ul class="cell menu width-auto">
          <li><a href="">Raumplan</a></li>
          <li><a href="{{ SITEURL }}/categories.html">Themen</a></li>
          <li><a href="{{ SITEURL }}/tags.html">Entdecken</a></li>
        </ul>
        <h1 class="cell width-auto"><span class="fg-blue">Stein</span>&middot;<span class="fg-red">reich</span></h1>
        <ul class="cell menu width-auto">
          <li><a href="">Raumplan</a></li>
          <li><a href="{{ SITEURL }}/categories.html">Themen</a></li>
          <li><a href="{{ SITEURL }}/tags.html">Entdecken</a></li>
        </ul>
        <h1 class="cell width-auto"><span class="fg-blue">lapis</span>&middot;<span class="fg-red">dives</span></h1>
      </div>
      <div class="cell small-12 medium-6">
        <div class="orbit snippet" role="region" aria-label="Stone Samples" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
          <ul class="orbit-container">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script id="orbit-images" type="application/json">
  {{ articles|landing_page_images|tojson }}
  </script>
  <script>
  const baseImages = JSON.parse(document.getElementById('orbit-images').innerHTML);
  let images = [];
  while (baseImages.length > 0 && images.length < 10) {
      const idx = Math.floor(Math.random() * baseImages.length);
      images = images.concat(baseImages.splice(idx, 1));
  }
  const orbitContainer = document.querySelector('.orbit-container');
  for (let idx = 0; idx < images.length; idx++) {
      const slide = document.createElement('li');
      slide.classList.add('orbit-slide');
      const figure = document.createElement('figure');
      figure.classList.add('orbit-figure');
      slide.appendChild(figure);
      const link = document.createElement('a');
      link.setAttribute('href', '{{ SITEURL }}/' + images[idx].url);
      figure.appendChild(link);
      const img = document.createElement('img');
      img.classList.add('orbit-image');
      img.setAttribute('src', '{{ SITEURL }}/' + images[idx].small);
      link.appendChild(img);
      const figcaption = document.createElement('figcaption');
      figcaption.classList.add('orbit-caption');
      link.append(figcaption);
      let textLine = document.createElement('span');
      textLine.innerHTML = images[idx].original;
      if (images[idx].isGreek) {
          textLine.classList.add('greek');
      }
      figcaption.appendChild(textLine);
      textLine = document.createElement('span');
      textLine.innerHTML = images[idx].translation;
      figcaption.appendChild(textLine);
      textLine = document.createElement('span');
      textLine.innerHTML = images[idx].title;
      figcaption.appendChild(textLine);
      orbitContainer.appendChild(slide);
  }
  </script>
  {% include '_footer.html' %}
  {% include '_base_scripts.html' %}
  {% include '_go_to_landing_script.html' %}
</body>
{% endblock body %}
