{% extends "base.html" %}

{% block head %}
<title>Entdecken</title>
{% endblock head %}

{% block body %}
<body class="tags">
  {% include '_header.html' %}
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        <h1>Entdecken</h1>
        <ul>
          {% for (tag, articles) in tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
              <ul>
                {% for article in articles %}
                  <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% include '_footer.html' %}
  {% include '_base_scripts.html' %}
  {% include '_go_to_landing_script.html' %}
  {% include '_scrolling_script.html' %}
</body>
{% endblock body %}
